<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
    <input id="name" placeholder="name" type="text" name="name">
    <input id="email" placeholder="email" type="text" name="email">
    <input id="password" placeholder="create password" type="text" name="password">
    <input type="submit" id="submit" value="Sign Up">
</form>
